html {
	overflow: hidden;
}

body {
	background-color: black;
}

#container {
	/*filter: saturate(120%);
	-webkit-mask-image: radial-gradient(50% 50%, black 50%, rgba(0,0,0,0.4) 100%);*/
}

.navigation {
	width: 30%;
	position: absolute;

	margin-top: 1%;
	display: flex;
}

.navigation a {
	font-size      : 200%;
	font-family    : Roboto, sans-serif;
	font-weight    : bold;

	text-decoration: none;
	color          : black;

	flex   : 1;
	display: flex;

	align-items    : center;
 	justify-content: center;
}



.navigation a:hover {
	text-decoration: underline;
}
