html {
	overflow: hidden;
}

body {
	background-color: black;
}

#container {
	/*filter: saturate(120%);
	-webkit-mask-image: radial-gradient(50% 50%, black 50%, rgba(0,0,0,0.4) 100%);*/
}

.navigation {
	position: absolute;
	margin-top :  3%;
	margin-left: 12%;
}

.navigation a {
	font-size      : 320%;
	font-family    : Roboto, sans-serif;
	font-weight    : bold;

	text-decoration: none;
	color          : black;
}

.navigation a:hover {
	text-decoration: underline;
}

.navigation a:nth-of-type(even) {
	margin-left : 85px;
	margin-right: 85px;
}
